.layout-header2 .main-menu-block .icon-block ul li {
    display: inline-block;
}

.category-header-2 .navbar-menu .navbar_main_menu {
    flex: 1;
    padding: 0px 20px;
}

.color_bg_banner {
    background-color: rgba(255, 96, 0, 0.05);
}

.category-header-2 .navbar-menu .nav-block .nav-left {
    width: 262px;
    position: unset;
}

.layout-header2 .main-menu-block .icon-block ul {
    li {
        margin-left: 10px;
    }
}

.marquee_body {
    border-radius: 40px;
    background: white;
    padding: 5px 26px;
    font-size: 20px;
    padding-bottom: 5px;
}

.website_banner {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 15px;

    .left {
        width: 260px;

        .category_list {
            display: grid;
            background: white;
            padding: 15px;
            margin-bottom: 15px;

            li {
                display: block;
                padding-bottom: 8px;

                &:last-child {
                    padding-bottom: 0;
                }

                a {
                    color: #444;
                    font-size: 14px;
                    text-transform: capitalize;
                    letter-spacing: 0.03em;
                    display: block;
                }

                img {
                    margin-right: 10px;
                    border: 2px solid #f0f0f0;
                    border-radius: 50%;
                    padding: 3px;
                    height: 46.5px;
                    transition: all 0.5s ease;
                }

                &:hover {
                    >a {
                        color: #ff6000;

                        >img {
                            border: 2px solid #ff6000;
                        }
                    }
                }

            }
        }
    }

    .right {
        width: calc(100% - 275px);

        .top_banner {
            display: flex;
            gap: 15px;

            .top_banner_left {
                flex: 1;
                max-width: 1087px;
            }

            .top_banner_right {
                width: 100%;
                max-width: 300px;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .bottom_banner {
            display: flex;
            gap: 15px;
            margin-top: 15px;

            .bottom_banner_left {
                flex: 1;
                max-width: 1087px;
                display: grid;
                gap: 15px;
                grid-template-columns: repeat(auto-fit, minmax(536px, 1fr));

                img {
                    width: 100%;
                }
            }

            .bottom_banner_right {
                width: 100%;
                max-width: 300px;

                .img {
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.category-header-2 .navbar-menu .category-right .gift-block {
    width: 243px;
}

.section_gap {
    padding: 100px 0px;
}

.section_title {
    .text {
        font-size: 50px;
        text-transform: uppercase;
    }
}

.top_categries {
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));

    img {
        width: 100%;
    }

    .category {
        .category_link {
            display: block;
            position: relative;
            border-radius: 34px;
            overflow: hidden;
            border: 1px solid transparent;
            min-height: 197px;

            .title {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 25px;
                font-size: 21px;
                text-transform: uppercase;
                font-weight: bold;
                width: 127px;
                color: #717171;
            }

            &:hover {
                /* border: 1px solid #e08c1d; */
                box-shadow: 3px 5px 25px -10px #434343;

                .title {
                    color: #e08c1d;
                }
            }
        }
    }
}

.product_list {
    gap: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));

    >div {
        height: 100%;

        >div {
            height: 100%;
        }
    }
}

.product {
    background-color: white;
    position: relative;
    padding: 2px;
    overflow: hidden;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        top: -100%;
        left: -100%;
        background-color: red;
        position: absolute;
        z-index: 1;
        transition-duration: 1s;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        bottom: -100%;
        right: -100%;
        background-color: red;
        position: absolute;
        z-index: 1;
        transition-duration: 1s;
    }

    &:hover {
        &::after {
            top: 0;
            left: 0;
        }

        &::before {
            bottom: 0;
            right: 0;
        }

        .product-box {
            .product-imgbox {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .product-box {
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        z-index: 2;
        background: white;
        position: relative;

        .product-imgbox {
            padding: 35px 20px;
            border-bottom: 1px solid #e9e9e9;

            img {
                transition-duration: .3s;
            }

            .product-front {
                a {
                    display: block;
                }
            }
        }

        .product-detail {
            flex: 1;

            .detail-title {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                /* align-items: self-end; */

                .detail-left {
                    float: unset;

                    .price-title {
                        text-transform: unset;
                        font-weight: 700;
                        font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));
                        line-height: 22px;
                        letter-spacing: .5px;
                    }
                }

                .detail-right {
                    float: unset;
                    display: flex;
                    justify-content: center;
                    font-size: 21px;
                    gap: 18px;
                    padding-top: 15px;

                    .check-price {
                        font-size: unset;
                    }

                    .price {
                        font-size: unset;
                    }
                }
            }

        }
    }

}


.clear-fix {
    clear: both;
}

.product_info_content {
    padding-top: 50px;

    h1,
    h2,
    h3,
    h4 {
        font-size: 18px;
        margin-bottom: 20px;
        color: #444;
    }

    p {
        margin-bottom: 30px;
    }
}

.brands {
    background-color: white;
    padding: 50px 0px;
    margin-top: 50px;

    .title {
        font-size: 30px;
    }

    .brand_items {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        li {
            max-width: 160px;
            padding: 20px;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

    }
}
